<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Us </title>
  <link rel="stylesheet" href="static/css/styles1.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul id="nav_bar">
    <li><a href="/">Home</a></li>
    <li><a class = "active" href="/about">About Us</a></li>
</ul>

<div class="wrapper">
    <h1 style = "color:black;">About Me</h1>
        <div class="team_member">
           <div class="member_img">
             <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEzIjA4SS3RMQ/profile-displayphoto-shrink_400_400/0/1627106790109?e=1674086400&v=beta&t=0H_SrjQkIetBXcuVo3IbK7W_jGw5Qyy_v4-qwdlcjbE" alt="our_team" width="200" height="200" >
             
          </div>
          <h3>Harshit Nigdikar</h3>
          <!-- <span>Accountant</span> -->
          <p style="text-align:center">Hi! My name is Harshit Nigdikar. I am a Computer Science and Engineering Undergraduate from Medi-Caps University, Indore.
            I have been into programming from the first year of my college itself and I have keen interest in problem-solving using Data Structures and Algorithms. I use Java as my primary programming language and I have solved over 200 programming questions on various competitive programming platforms like Leetcode and Codechef.
            
            I have been a Teaching Assistant in Pepcoding pvt India Ltd and helped over 80 students in java and problem-solving. I have also been a Web Developer Intern at Dream Choice.
            </p>
          <div>
            <a href="https://www.linkedin.com/in/harshit-nigdikar-b7bb691a6/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
      </div>
</div>
<!-- partial -->
  
</body>
</html>
